NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
ADMIN_PANEL_SECRET=
# To run : powershell -Command "[Convert]::ToBase64String((1..32 | % { [byte](Get-Random -Minimum 0 -Maximum 255) }))"
ADMIN_EMAIL_ALLOWLIST=admin@yourdomain.com
RESEND_API_KEY=
RESEND_FROM_EMAIL=admin@yourdomain.com
MAIN_APP_URL=https://your-qrise-app.vercel.app
JWT_SECRET=
#to run : powershell -Command "[Convert]::ToBase64String((1..32 | % { [byte](Get-Random -Minimum 0 -Maximum 255) }))"

# Main SaaS App URL
MAIN_APP_URL=https://your-app.vercel.app
MAIN_APP_URL=https://qrise-main.pages.dev
